*{   
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5 px;       
    background-color: #060915;
}

.header{   
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 62px;
    border-bottom: 1px solid white;
}
.themeDark{
    background-color: #0f141b;     
}

#logogithub{
   margin-top: 13px;
   margin-bottom: 13px;
    margin-left: 20px;
    height: 33px;
}
input{
    border: 1px solid white;
    border-radius: 5px;    
    text-align: left;
    width: 287px;
    height: 31px;
    background-color:#838586;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 16px;
    color: blue;
    padding-left: 20x;
}

#title{
    font-size: 18px;
    font-style: bold;
    height: 31px;
    line-height:31px;
    padding-left: 16px;

}
#data{
    border: 1px solid white;
    border-radius: 5px;    
    text-align: center;
    width: 50px;
    height: 31px;
    background-color: #838586;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 15px;
    padding: 2px;
    color: white;
}
#themeButton{
    border: 1px solid white;
    border-radius: 5px;    
    text-align: center;
    width: 90px;
    height: 31px;
    background-color: #838586;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 500px;
    color: white;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#info{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 600px;
    height: 400px;
    background-color: #131723;
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
}
.error{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 600px;
    height: 70px;
    margin: 15px;
    background-color: #131723;
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
    color: white;
}
footer{
    text-align: center;  
    width: 600px;
    height: 20px;
    margin: 8px;
    background-color: #060915;
    align-items: center;
    align-items: center;
    color: white;
}
#footer{
    color: white;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#avatar{
    width: 120px;
    height: 120px;
    border-radius: 120px;
}

#bio{
    
    margin: 20px;
    text-align: justify
}
